<div>
  This is Dataview Component
</div>

<form [formGroup]="myForm" (submit)="addUser()">
  <div class="userform">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" formControlName="name"  class="inputbox">

    <label for="email">Email</label>
    <input type="text" name="email" id="email" formControlName="email" class="inputbox">

    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" formControlName="phone" class="inputbox">

    <label for="address">Address</label>
    <input type="text" name="address" id="address" formControlName="address"  class="inputbox">
    
    <button type="submit" >Add</button>
  </div>
</form>

<!-- User table -->
<div class="user-data">
  <span class="user-info">Name</span>
  <span class="user-info">Email</span>
  <span class="user-info">Phone Number</span>
  <span class="user-info">Address</span>
  <span class="user-info">Action</span>
</div>
<div *ngFor="let user of users" class="dataview">
  <div class="user-data">
    <span class="user-info">{{ user.name }}</span>
    <span class="user-info">{{ user.email }}</span>
    <span class="user-info">{{ user.phone }}</span>
    <span class="user-info">{{ user.address }}</span>
    <span class="user-info">
      <button (click)="updateUser()">Update</button>
      <button (click)="editUser(user.id)">Edit</button>
      <button (click)="deleteUsers(user.id)">Delete</button>
    </span>
  </div>
</div>