.dataview {
  display: flex;
  gap: 4;
}

.user-data {
  display: flex;
  // gap: 12px;
  width: 50rem;
  margin-bottom: 4px;
}

.user-info {
  flex: 1;
}

.userform {
  display: flex;
  width: 40rem;
  flex-direction: column;
  margin-bottom: 24px;
}

.inputbox {
  margin-bottom: 12px;
}